body {
  background-image: url(imagen/fondo.jpg);
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 120px;
  margin-top: 24px;
  margin-left: 120px;
}
ul {
  display: inline;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  position: relative;
  bottom: 60px;
}

li {
  display: inline-block;
  margin-left: 200px;
}

.centrar {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.centrar:hover {
  color: white;
  font-size: 30px;
  font-weight: 750;
}

h1 {
  font-size: 78px;
  color: white;
  margin-top: 160px;
  text-align: center;
}
p {
  width: 500px;
  color: white;
  text-align: center;
  margin: auto;
}
.letra {
  font-size: 18px;
  color: white;
  text-decoration: none;
  line-height: 40px;
  text-transform: uppercase;
}
.boton {
  width: 120px;
  display: inline-block;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  background: rgb(255, 208, 0);
  margin: 16px;
  border: 1px solid white;
  font-weight: 900;
}
.boton:hover {
  background: rgb(255, 166, 0);
}
.centrado {
  margin: auto;
  width: fit-content;
  /*  padding: 40px; */
  margin-top: 40px;
}
